@if (IsVertical)
{
    <div class="mb-3">
        <div class="pt-3 mb-5 text-center">
            @if (SubTitle is not null)
            {
                <p class="fs-6 fw-bold text-body-secondary text-uppercase">@SubTitle</p>
            }
            <h2 class="display-5 fw-bold text-body-emphasis">@Title</h2>
            @if (Description is not null)
            {
                <div class="col-lg-6 mx-auto w-75">
                    <p class="lead mb-4">@Description</p>
                </div>
            }
        </div>
        @ChildContent
    </div>
}
else
{
    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
        <div class="col d-flex flex-column align-items-start gap-2">
            @if (SubTitle is not null)
            {
                <p class="fs-6 fw-bold text-body-secondary text-uppercase">@SubTitle</p>
            }
            <h2 class="fw-bold text-body-emphasis">@Title</h2>
            @if (Description is not null)
            {
                <p class="text-body-secondary">@Description</p>
            }
        </div>
        @ChildContent
    </div>
}

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }

    [Parameter] [EditorRequired] public string Title { get; set; } = null!;
    [Parameter] public string? Description { get; set; }

    [Parameter] public string? SubTitle { get; set; }

    [Parameter] public bool IsVertical { get; set; } = true;

}